.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-all-column {
  @extend .center-all;
  flex-direction: column;
}
$small-size: 10px;
$med-size: 20px;
$large-size: 30px;

$green: #a8e05f;
$yellow: #fcff5c;
$orange: #f67451;
$white: #f4f4f4;
